.profile_icon_container {
  position: relative;
}

.auth_popup_container {
  position: relative;
  margin-top: 3rem;
  z-index: 1000;
}

.auth_popup {
  max-width: 18.75rem;
  padding: 1.25rem;
  border: 0.0625rem solid #ccc;
  background-color: #fff;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
  text-align: center;
}

.input_container {
  margin-bottom: 0.9375rem;
}

.title {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.25rem;
  letter-spacing: 0em;
  text-align: center;
  color: #1c2a39;
  margin-bottom: 0.625rem;
}

.label {
  display: block;
  margin-bottom: 0.3125rem;
  font-family: "Montserrat", sans-serif;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 0.9375rem;
  letter-spacing: 0em;
  text-align: left;
}

.input {
  width: 100%;
  padding: 0.5rem;
  box-sizing: border-box;
  margin-bottom: 0.625rem;
  font-family: "Montserrat", sans-serif;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 0.9375rem;
  letter-spacing: 0em;
  text-align: left;
  border: 0.0625rem solid #4c3db2;
  color: #4c3db2;
}

.login_button {
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.0625rem;
  letter-spacing: 0em;
  text-align: center;
  background: #9e98dc;
  color: #fff;
  padding: 0.625rem;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-top: 1.875rem;
  text-transform: uppercase;
}

.error_message {
  font-family: "Montserrat", sans-serif;
  font-size: 0.5rem;
  font-weight: 700;
  line-height: 0.625rem;
  letter-spacing: 0em;
  text-align: center;
  color: #ff353a;
}
